
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.pricing-section {
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

.pricing-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 1145px;
  width: 100%;
  overflow: hidden;
  align-items: center;
  padding: 94px 80px 149px;
}

.background-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1585px;
  flex-direction: column;
}

.section-title {
  color: #0d0c10;
  letter-spacing: -0.4px;
  text-align: center;
  align-self: center;
  font: 600 40px/1.2 "Bricolage Grotesque", sans-serif;
}

.pricing-grid {
  margin-top: 101px;
  gap: 20px;
  display: flex;
}

.price-card {
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 20px 56px rgba(69, 65, 113, 0.16);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: #0d0c10;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 23px 12px;
  font: 400 14px/2 "Inter", sans-serif;
}

.card-content {
  border-radius: 16px;
  background-color: #f4f3f8;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  padding: 40px 50px 30px 50px;
}

.plan-name {
  letter-spacing: -0.32px;
  font: 600 32px/1 "Bricolage Grotesque", sans-serif;
}

.price-amount {
  letter-spacing: -0.32px;
  margin-top: 44px;
  font: 600 32px/1 "Bricolage Grotesque", sans-serif;
}

.price-highlight {
  font-weight: 700;
  font-size: 48px;
  color: #6e19c4;
}

.price-currency {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.lesson-type {
  margin-top: 50px;
}

.lesson-details {
  margin-top: 15px;
}

.action-buttons {
  display: flex;
  margin-top: 42px;
  gap: 20px;
  font-size: 12px;
  font-weight: 500;
  justify-content: space-between;
  width: 100%;
}

.btn {
  border-radius: 8px;
  padding: 14px 50px;
  cursor: pointer;
}

.btn-edit {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(13, 12, 16, 0.04);
}

.btn-delete {
  background-color: #ffc2b9;
  box-shadow: 0 1px 1px rgba(13, 12, 16, 0.04);
}

.add-subscription {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 12px 56px -12px rgba(69, 65, 113, 0.16);
  margin-top: 84px;
  padding: 42px 63px;
}

.form-title {
  color: #0d0c10;
  letter-spacing: -0.24px;
  text-align: center;
  font: 600 24px/1 "Bricolage Grotesque", sans-serif;
  margin-bottom: 50px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 21px;
}

.form-input {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(13, 12, 16, 0.04);
  padding: 14px 13px;
  width: 250px;
  border: 1px solid #ccc;
  color: #878493;
}

.btn-add {
  background-color: #c6ffad;
  padding: 14px 107px;
}

@media (max-width: 991px) {
  .pricing-container {
    max-width: 100%;
    padding: 0 20px 100px;
  }

  .content-wrapper {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .pricing-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
    margin-top: 40px;
  }

  .card-content {
    padding: 20px;
  }

  .add-subscription {
    max-width: 100%;
    margin-top: 40px;
    padding: 20px;
  }

  .action-buttons {
    white-space: initial;
  }

  .btn {
    padding: 14px 20px;
  }
}