body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.admin-panel {
  border-radius: 24px;
}

.admin-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 731px;
  width: 100%;
  padding-top: 75px;
  overflow: hidden;
  align-items: stretch;
}

.background-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.admin-title {
  position: relative;
  color: rgba(0, 0, 0, 1);
  font-size: 48px;
  font-family: Bricolage Grotesque, -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  align-self: center;
}

@media (max-width: 991px) {
  .admin-title {
    font-size: 40px;
  }
}

.content-wrapper {
  /* display: flex;
    flex-direction: column; */
  padding: 84px 80px 178px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .content-wrapper {
    padding: 84px 20px 100px;
  }
}

.top-row {
  margin-bottom: 20px;
}

.top-row-container {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .top-row-container {
    flex-direction: column;
    gap: 0px;
  }
}

.column-item {
  display: flex;
  flex-direction: column;
  width: 33%;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .column-item {
    width: 100%;
  }
}

.card {
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 20px 56px rgba(69, 65, 113, 0.16);
  position: relative;
  flex-grow: 1;
  padding: 51px 70px;
  font-family: Bricolage Grotesque, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 32px;
  color: rgba(13, 12, 16, 1);
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.32px;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .card {
    margin-top: 40px;
    padding: 51px 20px;
  }
}
